*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {  // width < 1200?
    font-size: 56.25%;
  }

  @include respond(tab-port) { // width < 900?
    font-size: 50%;
  }
  @include respond(big-desktop) {
    font-size: 75%;
  }
}


body {
  box-sizing: border-box;
  //min-height: 100vh;
  //min-width: 100vw;
  overflow-x: hidden;

  //position: relative;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-image: $scroll-color;
  background-color: 1px solid $scroll-color;
  //border-radius: 10px;
}

.index-body {
  //position: relative;

  //background-size: cover;

  //animation: slideUp 3000ms ease-in forwards;

  //under loading
  .main {

  }
  //top
  .loading {
    background-image: linear-gradient(rgba(1, 0, 50, 0.88), rgba(55, 164, 255, 0.99));
    //position: absolute;
    //top: 120vh;
    //left: calc(50% - 30vw);
    //transform: translate(50%, calc(50% - 30vw));
  }
}

.main {
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  //position: relative;
  z-index: 10;
  background-image: linear-gradient(rgba(0,0,0,0.88), rgba(1, 0, 50, 0.99));
  //opacity: 0;
  //animation-timing-function: $ease-out;
  //animation: slideUp 2500ms forwards .70s;
}

@keyframes slideUp {
  0% {
    opacity: 1;
    transform: translateY(110%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
