//$violet: #343363;
//$violet: #562894;
$violet: #9E566E;
$pink: #CE427A;
$blue-light: #9CC6C6;
$blue-dark: #9CC6C6;
$dark: #272727;
$text-grey: #a1a1a1;
$text-grey-dark: #555555;
$link-hover: #555555;

$gold: #D9BA97;