//$violet: #343363;
//$violet: #562894;
$violet: #9E566E;
$pink: #CE427A;
$blue-light: #9CC6C6;
$blue-dark: #9CC6C6;
$dark: #272727;
$text-grey: #a1a1a1;
$text-grey-dark: #555555;
$link-hover: #555555;

$gold: #D9BA97;

$dark-blue: rgba(1, 0, 50, 0.99);

$btn-color: $gold;
$btn-height: 5rem;
$btn-color-dark: shade($btn-color, 40%);

$ease-out: cubic-bezier(0.45, 0.6, 0.83, 1.02);

$scroll-color: linear-gradient($dark-blue, rgba(55, 164, 255, 0.88), rgba(217, 186, 151, 0.99));