.error{
  min-width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.88), rgba(1, 0, 50, 0.99));

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5rem 0;

  &__heading {
    font-family: 'Montserrat', sans-serif;
    color: $gold;
    font-size: 2.6rem;
    text-align: center;
    letter-spacing: 8px;
    padding: 0 1.5rem;

    @include respond(large-phone){
      font-size: 2rem;
    }
  }

  &__img {
    height: 60vh;
    width: auto;
    margin: 5% auto;
    z-index: 1;

    @include respond(large-phone){
      height: 40rem;
      margin: 15% auto;
    }
    @include respond(four){
      height: 33rem;
      margin: 5rem auto;
    }
  }
}

#ghost {
  animation: hover 6s infinite ease-in-out;
}

#stars {
  animation: twinkle 6s infinite ease-in-out;
  transform-origin: center;
}

@keyframes twinkle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    opacity: .5;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes hover {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-7%);
  }
  100% {
    transform: translateY(0%);
  }
}

html {
  transition: 0.5s transform ease-in-out;
}
a {
  text-decoration: none;
}

[class^="btn-"] {
  position: relative;
  display: block;
  overflow: hidden;
  line-height: $btn-height;
  width:100%;
  max-width: 25rem;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid $gold;
  color: $gold;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;

}

.btn-zone-in {
  $btn-color: $gold;
  $btn-color-dark: $gold;
  z-index: 1;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    border-top: $btn-height/2 solid $btn-color-dark;
    border-bottom: $btn-height/2 solid $btn-color-dark;
  }

  &::before {
    border-right: $btn-height/2 solid transparent;
    transform: translateX(-100%);
  }

  &::after {
    border-left: $btn-height/2 solid transparent;
    transform: translateX(100%);
  }

  &:hover {

    &::before { transform: translateX(-30%); }
    &::after { transform: translateX(30%); }
  }
}


*,
*:before,
*:after {
  transition: 0.5s transform ease-in-out;
}