.img-box {
  position: relative;

  .border {
    border: 4px solid $text-grey-dark;
    width: 25rem;
    height: 25rem;
    position: absolute;
    bottom: -1.5rem;
    left: 3.5rem;
    z-index: -1;

    @include respond(phone) {
      width: 20rem;
      height: 20rem;
    }
  }

  .sig {
    font-family: 'Great Vibes', cursive;
    font-size: 2.4rem;
    color: $text-grey-dark;
    position: absolute;
    bottom: -5rem;
    left: 15rem;
    width: 100%;

    @include respond(large-phone) {
      left: 12rem;
    }
    @include respond(phone) {
      left: 9rem;
    }
    @include respond(mid-phone) {
      left: 7rem;
    }
  }
}
.header-2 {
  margin: 10rem auto;
  //padding: 10rem 0;
  display: flex;
  justify-content: center;

  font-family: 'Montserrat', sans-serif;
  color: $text-grey;

  @include respond(col) {
    flex-direction: column;
    align-items: center;
    margin: 6rem auto 3rem auto;
  }

  .right {
    width: 40%;
    //margin-right: 5%;
    position: relative;

    @include respond(col) {
      margin-bottom: 8rem;
    }

    &__title{
      font-size: 4rem;
      letter-spacing: 2px;
      font-weight: bold;
      color: $text-grey-dark;

      position: absolute;
      top: -3rem;
      left: -13rem;
      z-index: 1;

      @include respond(phone) {
        font-size: 3.5rem;
        top: -2rem;
        left: -12rem;
      }
      @include respond(four) {
        font-size: 3rem;
      }
    }
    &__text {
      font-size: 1.6rem;
      text-align: right;
      max-width: 15rem;

      position: absolute;
      top: 5rem;
      left: -13rem;
      z-index: 1;

      //shape-outside: url("../../assets/img/sm.jpg");
    }
    &__img {
      width: auto;
      height: 25rem;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);

      @include respond(phone) {
        height: 20rem;
      }
    }
  }

  .left {
    width: 20%;


    &__title {
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
      color: $text-grey-dark;
      margin-bottom: .5rem;
      position: relative;

      &::before {
        content: "\22B9";
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: -2rem;
      }
    }
    &__text {
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }
  }
}

.education {
  background-color: #d4d4d4;
  height: auto;
  padding: 5rem 0;

  @include respond(col) {
    padding: 5rem 0 2rem 0;
  }
}

.exp-box {
  display: flex;
  flex-direction: column;
  max-width: 35rem;

  @include respond(col) {
    margin-bottom: 4rem;
  }
}

.resume-text {
  font-family: 'Montserrat', sans-serif;
  color: $text-grey-dark;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  position: relative;
  padding-left: 2.5rem;
  line-height: 1.3;

  &::before {
    content: "\22B9";
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: -2rem;

    padding-left: 2.5rem
  }
}

.exp {
  height: auto;
  padding: 5rem 0 8rem 0;

  @include respond(col) {
    padding: 5rem 0 2rem 0;
  }
}