.img-box {
  position: relative;

  .border {
    border: 4px solid $text-grey-dark;
    width: 25rem;
    height: 25rem;
    position: absolute;
    bottom: -1.5rem;
    left: 3.5rem;
    z-index: -1;
  }

  .sig {
    font-family: 'Great Vibes', cursive;
    font-size: 2.4rem;
    color: $text-grey-dark;
    position: absolute;
    bottom: -5rem;
    left: 15rem;
  }
}
.header-2 {
  margin: 10rem auto;
  //padding: 10rem 0;
  display: flex;
  justify-content: center;

  font-family: 'Montserrat', sans-serif;
  color: $text-grey;

  .right {
    width: 40%;
    //margin-right: 5%;
    position: relative;

    &__title{
      font-size: 4rem;
      letter-spacing: 2px;
      font-weight: bold;
      color: $text-grey-dark;

      position: absolute;
      top: -3rem;
      left: -13rem;
      z-index: 1;
    }
    &__text {
      font-size: 1.6rem;
      text-align: center;
      width: 36%;

      position: absolute;
      top: 5rem;
      left: -13rem;
      z-index: 1;
    }
    &__img {
      width: auto;
      height: 25rem;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
  }

  .left {
    width: 20%;


    &__title {
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
      color: $text-grey-dark;
      margin-bottom: .5rem;
      position: relative;

      &::before {
        content: "\22B9";
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: -2rem;
      }
    }
    &__text {
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }
  }
}

.education {
  background-color: #d4d4d4;
  height: auto;
  padding: 5rem 0;

  //display: flex;
  //justify-content: center;

  //&:first-child {
  //  align-self: flex-start;
  //}
}

.exp-box {
  display: flex;
  flex-direction: column;
  max-width: 35rem;
}

.resume-text {
  font-family: 'Montserrat', sans-serif;
  color: $text-grey-dark;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  position: relative;
  padding-left: 2.5rem;
  line-height: 1.3;

  &::before {
    content: "\22B9";
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: -2rem;

    padding-left: 2.5rem
  }
}

.exp {
  height: auto;
  padding: 5rem 0 8rem 0;
}