<div class="icons">
    <a href="https://github.com/sierramoore" class="icons__link" target="_blank">
        <ion-icon name="logo-github" class="icons__logo"></ion-icon>
    </a>

    <a href="https://www.linkedin.com/in/sierra-moore/" class="icons__link" target="_blank">
        <ion-icon src="{{ site.baseurl }}/assets/img/icons/link.svg" class="icons__logo"></ion-icon>
    </a>

    <a href="mailto:sierra.v.moore@gmail.com" class="icons__link">
        <ion-icon src="{{ site.baseurl }}/assets/img/icons/mail.svg" class="icons__logo"></ion-icon>
    </a>

    <a href="{{ site.baseurl }}/resume" class="icons__link">
        <ion-icon src="{{ site.baseurl }}/assets/img/icons/doc.svg" class="icons__logo"></ion-icon>
    </a>
</div>