<div class="icons" data-aos="fade-left">
    <div class="icon-box">
        <a href="https://github.com/sierramoore" class="icon-box__link" target="_blank">
            <ion-icon src="{{ site.baseurl }}/assets/img/icons/github.svg" class="icon-box__logo">
            </ion-icon>
        </a>
        <p class="icon-box__text">GitHub</p>
    </div>

    <div class="icon-box">
        <a href="{{ site.baseurl }}/resume" class="icon-box__link">
            <ion-icon src="{{ site.baseurl }}/assets/img/icons/doc.svg" class="icon-box__logo">
            </ion-icon>
        </a>
        <p class="icon-box__text">Resume</p>
    </div>

    <div class="icon-box">
        <a href="https://www.linkedin.com/in/sierra-moore/" class="icon-box__link" target="_blank">
            <ion-icon src="{{ site.baseurl }}/assets/img/icons/link.svg" class="icon-box__logo">
            </ion-icon>
        </a>
        <p class="icon-box__text">LinkedIn</p>
    </div>

    <div class="icon-box">
        <a href="mailto:sierra.v.moore@gmail.com" class="icon-box__link" target="_blank">
            <ion-icon src="{{ site.baseurl }}/assets/img/icons/mail.svg" class="icon-box__logo">
            </ion-icon>
        </a>
        <p class="icon-box__text">Email</p>
    </div>

</div>