.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  z-index: 1;
  //box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.9);
  //box-shadow: inset 2px 2px 1rem rgba(0,0,0,0.3);

  margin: 2rem;
  height: auto;
  max-width: 35rem;
  //border-radius: 1rem;
  background-color: #2d2d2d !important;
  position: relative;
  outline: .2rem outset $violet;
  outline-offset: 1.5rem;
  transition: outline, outline-offset .2s;
  //padding: 2rem;
  //

  //&::after {
  //  position: absolute;
  //  content: "";
  //  top: 0; left: 0; right: 0;
  //  z-index: -1;
  //  height: 100%;
  //  width: 100%;
  //  margin: 0 auto;
  //  filter: blur(2rem);
  //  background: linear-gradient(145deg, #9e4aff, #000db0);
  //  //background-size: 200% 200%;
  //  //transform: scale(1.3);
  //}
  &:hover {
    background: #9e4aff;
    box-shadow: 0 0 1rem .6rem $violet;
    outline-offset: -.1rem;
    //outline: solid 10px $violet;
    animation: borderShrink .17s .2s ease-in infinite;
  }

  &__img {
    //border-radius: 1rem 1rem 0 0;
    height: auto;
    max-height: 30rem;
    width: 35rem;
    //width: 35rem;
    //width: auto;
  }

  &__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    line-height: 1.5;
    color: white;
    text-align: center;
    letter-spacing: 3px;
  }
}

@keyframes borderShrink {
  from {
    box-shadow: 0 0 3rem .2rem $violet;
  }
  to {
    box-shadow: 0 0 3rem .2rem $violet;
  }
}