.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 80vw;
  margin: 5% auto;
}

.border-btm {
  height: 13rem;
  width: 25rem;
  background-color: rgba(1, 0, 50, 0.85);
  clip-path: polygon(92% 13%, 16% 100%, 68% 100%);
  position: absolute;
  bottom: 1.3rem;
  left: 1.95rem;
  color: $gold;

  &__text {
    text-align: center;
    padding: 1.5rem .5rem;
    font-family: 'Montserrat', sans-serif;
    color: $gold;
    font-size: 1.6rem;

    position: absolute;
    right: 6rem;
    top: 7rem;

    transform: rotate(-33deg);
  }
}

.card {
  z-index: 1;
  margin: 2rem;
  position: relative;

  &__img {
    position: relative;
    max-width: 25rem;
    width: 100%;
    height: 25rem;
    background-size: cover;
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    //clip-path: polygon(13% 5%, 90% 5%, 100% 50%, 89% 95%, 14% 95%, 0% 50%);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-clip-path: polygon(100% 3%, 17% 100%, 100% 100%);
      clip-path: polygon(100% 3%, 17% 100%, 100% 100%);
      //-webkit-clip-path: url("#triangle-clip");
      //clip-path: url("#triangle-clip");
      background: #9E566E;
      z-index: 1;
      width: 100%;
      height: 155px;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear;
      pointer-events: none;
    }

    &:hover::after {
      height: 0;
      -webkit-transition: all 0.45s ease-in;
      transition: all 0.45s ease-in;
    }
  }

  &__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    line-height: 1.5;
    color: $gold;
    text-align: center;
    letter-spacing: 3px;
  }
}

@keyframes borderShrink {
  from {
    box-shadow: 0 0 3rem .2rem $violet;
  }
  to {
    box-shadow: 0 0 3rem .2rem $violet;
  }
}