.icons{
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  z-index: 1;

  @include respond(col) {
    bottom: 3rem;
    right: 2rem;
  }

  & > * {
    display: inline-block;
  }
  &__link {
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  &__logo {
    font-size: 4rem;
    color: $gold;
    padding: 0 2rem;

    &--2 {
      color: $text-grey-dark;
    }

    @include respond(col) {
      padding: 0 1rem;
    }
  }
}

