.icons{
  position: fixed;
  bottom: 0;
  right: 1rem;
  z-index: 1;
}
.icon-box:hover > .icon-box__text {
  opacity: 1;
  transition: opacity .3s;
}

.icon-box {
  position: relative;
  margin-bottom: 1.5rem;

  &__link {
    display: inline-block
  }

  &__logo{
    font-size: 4rem;
    color: $gold;
    padding: 0 2rem .5rem 2rem;
  }

  &__text {
    color: $gold;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    text-align: center;
    opacity: 0;
  }
}