.header {
  color: $gold;

  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  letter-spacing: 3px;
  z-index: 2;
  padding: 4rem 2rem 0;




  &__primary {
    text-align: center;
    font-size: 3.5rem;
    position: absolute;
    top: 8%;

    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    text-orientation: upright;
    -webkit-font-feature-settings: "vkrn", "vpal";
    font-feature-settings: "vkrn", "vpal";
  }
  &__secondary {
    text-align: right;
    font-size: 3rem;
    margin-bottom: 4rem;
    //writing-mode: vertical-lr;
    //text-orientation: mixed;
  }
}

.title {
  font-family: 'Montserrat', sans-serif;
  color: $text-grey-dark;

  &--1 {
    font-size: 3.5rem;
    padding-left: 3rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
  }

  &--2{
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 1rem;
  }

  &--3{
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
  }
}

.download {
  display: block;
  font-size: 2.4rem;
  font-family: 'Montserrat', sans-serif;
  color: $text-grey-dark;
  //text-decoration: none;
  //text-align: center !important;
  //margin: 4rem auto;
}



//.border {
//  box-sizing: border-box;
//  border: 1px solid #a1a1a1;
//  height: 90vh;
//  width: 90vw;
//  margin: 4rem auto;
//}

