.loading {
  //position: relative;
  //min-width: 100vw;
  //min-height: 100vh;
  //background-image: linear-gradient(rgba(1, 0, 50, 0.88), rgba(55, 164, 255, 0.99));
  //z-index: 1;

  &__img {
    display: block;
    margin: auto;
    width: 60vw;
    height: 100%;
    //animation-timing-function: $ease-out;
    animation: launch 3s forwards ease-out;
  }
}

#starz {
  animation: twinkle 3s forwards ease-in;
}

#smoke {
  animation: smoke 3s forwards ease-in;
  transform-origin: center;
}
#puffs {
  animation: smoke 3s forwards ease-in;
  transform-origin: center;
}
#outer_x5F_flares  {
  animation: outerFlame .6s forwards ease-in;
  transform-origin: center;
}
#inner_x5F_flares {
  //animation: innerFlame 3s infinite ease-in;
  //transform-origin: center;
}



@keyframes launch {
   from {
     transform: translateY(110%);
   }
   to {
     transform: translateY(-300%);
     display: none;
   }
}

@keyframes smoke {
  from {
    transform: scale(.9);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes outerFlame {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(-3px);
  }
}

@keyframes innerFlame {
  0% {
    transform: scaleX(1) translateX(3px);
  }
  50% {
    transform: scaleX(1.4) translateX(0);
  }
  100% {
    transform: translateX(-3px);
  }
}
