.sidebar {
  position: fixed;
  top: 8px;
  right: 8px;
}
.sidebar a {
  color: black;
  text-align: right;
  padding: 5px;
  font-size: 30px;
  display: block;
  text-decoration: none;
}
.sidebar a:hover{
  color: #72acd6;
  background-color: white;
}
.sidebar a:hover span {
  visibility: visible;
  opacity: 3;
}
.sidebar a span {
  visibility: hidden;
  opacity: 0;
  transition: opacity 2s;
  color: #72acd6;
  font-size: 20px;
}
.sidebar a i {
  width: 40px;
  text-align: center;
  color: $text-grey;
}