<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
</head>

<body>
<main class="error">

    <h1 class="error__heading">Looks like you're lost in space</h1>

    <img src="{{ site.baseurl }}/assets/img/ufo.svg" alt="Ufo" class="error__img">

    <div class="animation-wrapper">
        <div class="particle particle-1"></div>
        <div class="particle particle-2"></div>
        <div class="particle particle-3"></div>
        <div class="particle particle-4"></div>
    </div>

    <a href="{{ site.baseurl }}/index" class="error__btn">Return home</a>
</main>
</body>