<!DOCTYPE html>
<html lang="en">
    <head>
        {% include meta.html %}
    </head>

    <body>
<!--    <div class="bg-video">-->
<!--        <video class="bg-video__content" autoplay muted loop>-->
<!--            <source src="../assets/img/Up.mp4" type="video/mp4">-->
<!--            Your browser is not supported!-->
<!--        </video>-->
<!--    </div>-->


<!--    <div class="page-bg"></div>-->

    <header class="main">
        <div class="">
            {% include header.html %}
        </div>

        <div class="card-container">
            <div class="card" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="1300">
                <img src="{{ site.baseurl }}/assets/img/projects/harborhq.png" alt="" class="card__img">
                <div class="border-btm">
                    <div class="border-btm__text">Harbor HQ</div>
                </div>
            </div>

            <div class="card" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="1600">
                <img src="{{ site.baseurl }}/assets/img/projects/vest.png" alt="" class="card__img">
                <div class="border-btm">
                    <div class="border-btm__text">Vest HQ</div>
                </div>
            </div>

            <div class="card" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="1900">
                <img src="{{ site.baseurl }}/assets/img/projects/perfectionpainting.png" alt="" class="card__img">
                <div class="border-btm">
                    <div class="border-btm__text pp-padding">Perfection<br>Painting</div>
                </div>
            </div>

            <div class="card" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="2200">
                <img src="{{ site.baseurl }}/assets/img/projects/ust.png" alt="" class="card__img">
                <div class="border-btm">
                    <div class="border-btm__text">Ust Aviation</div>
                </div>
            </div>
        </div>


<div class="icons">
    <a href="https://github.com/sierramoore" class="icons__link" target="_blank">
        <ion-icon name="logo-github" class="icons__logo"></ion-icon>
    </a>

    <a href="https://www.linkedin.com/in/sierra-moore/" class="icons__link" target="_blank">
        <ion-icon src="{{ site.baseurl }}/assets/img/icons/link.svg" class="icons__logo"></ion-icon>
    </a>

    <a href="mailto:sierra.v.moore@gmail.com" class="icons__link">
        <ion-icon src="{{ site.baseurl }}/assets/img/icons/mail.svg" class="icons__logo"></ion-icon>
    </a>

    <a href="{{ site.baseurl }}/resume" class="icons__link">
        <ion-icon src="{{ site.baseurl }}/assets/img/icons/doc.svg" class="icons__logo"></ion-icon>
    </a>
</div>


    </header>


    <div class="animation-wrapper">
        <div class="particle particle-1"></div>
        <div class="particle particle-2"></div>
        <div class="particle particle-3"></div>
        <div class="particle particle-4"></div>
    </div>


<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<script>
    AOS.init();
</script>

    </body>
</html>