<!DOCTYPE html>
<html lang="en">
    <head>
        {% include meta.html %}
    </head>

    <body>

    <header class="main">
        <div class="">
            {% include header.html %}
        </div>

        <div class="card-container">
            <div class="card" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="1100">
                <a href="https://www.harborhq.com/" class="card__link" target="_blank">
                    <img src="{{ site.baseurl }}/assets/img/projects/harborhq.png" alt="Website for Harbor HQ" class="card__img">
                    <div class="border-btm">
                        <div class="border-btm__text">Harbor HQ</div>
                    </div>
                </a>
            </div>

            <div class="card" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="1300">
                <a href="https://www.vesthq.com/" class="card__link" target="_blank">
                    <img src="{{ site.baseurl }}/assets/img/projects/vest.png" alt="Website for Vest HQ" class="card__img">
                    <div class="border-btm">
                        <div class="border-btm__text">Vest HQ</div>
                    </div>
                </a>
            </div>

            <div class="card" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="1500">
                <a href="https://perfectionpaintingsb.com/" class="card__link" target="_blank">
                    <img src="{{ site.baseurl }}/assets/img/projects/perfectionpainting.png" alt="Website for Perfection Painting" class="card__img">
                    <div class="border-btm">
                        <div class="border-btm__text pp-padding">Perfection<br>Painting</div>
                    </div>
                </a>
            </div>

            <div class="card" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="1700">
                <a href="https://ustaviation.com/" class="card__link">
                    <img src="{{ site.baseurl }}/assets/img/projects/ust.png" alt="Website for UST Aviation" class="card__img">
                    <div class="border-btm">
                        <div class="border-btm__text">Ust Aviation</div>
                    </div>
                </a>
            </div>
        </div>


{% include footer.html %}


    </header>


    <div class="animation-wrapper">
        <div class="particle particle-1"></div>
        <div class="particle particle-2"></div>
        <div class="particle particle-3"></div>
        <div class="particle particle-4"></div>
    </div>


<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<script>
    AOS.init();
</script>

    </body>
</html>