<!DOCTYPE html>
<html lang="en">
    <head>
        {% include meta.html %}
    </head>

    <body>
<!--    <div class="bg-video">-->
<!--        <video class="bg-video__content" autoplay muted loop>-->
<!--            <source src="../assets/img/Up.mp4" type="video/mp4">-->
<!--            Your browser is not supported!-->
<!--        </video>-->
<!--    </div>-->


<!--    <div class="page-bg"></div>-->

    <header class="main">
        <div class="border">
            {% include header.html %}
        </div>

        <div class="card-container">
            <div class="card">
                <img src="../assets/img/projects/harborhq.png" alt="" class="card__img">
                <p class="card__text">Harbor HQ</p>
            </div>

            <div class="card">
                <img src="../assets/img/projects/vest.png" alt="" class="card__img">
                <p class="card__text">Vest HQ</p>
            </div>

            <div class="card">
                <img src="../assets/img/projects/perfectionpainting.png" alt="" class="card__img">
                <p class="card__text">Perfection Painting</p>
            </div>

            <div class="card">
                <img src="../assets/img/projects/ust.png" alt="" class="card__img">
                <p class="card__text">Ust Aviation</p>
            </div>
        </div>

    </header>


    <div class="animation-wrapper">
        <div class="particle particle-1"></div>
        <div class="particle particle-2"></div>
        <div class="particle particle-3"></div>
        <div class="particle particle-4"></div>
    </div>



<script>
    // console.log();
</script>

    </body>
</html>