<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
</head>
<body>

<header class="header-2">
    <div class="right">
        <div class="right__title">Sierra Moore</div>
        <div class="right__text">
            I’m a curious and continuous learner set out to make the web a more beautiful place. I enjoy creating custom user interfaces and am persistently working to improve my craft</div>
        <div class="img-box">
            <img src="../assets/img/sm.jpg" alt="" class="right__img">
            <div class="border"></div>

            <div class="sig">Based in Barcelona</div>
        </div>

    </div>

    <div class="left">
        <div class="left__title">Mail</div>
        <div class="left__text">sierra.v.moore@gmail.com</div>

        <div class="left__title">Phone</div>
        <div class="left__text">+34 691 306 612</div>

        <div class="left__title">LinkedIn</div>
        <div class="left__text">https://www.linkedin.com/in/sierra-moore</div>

        <div class="left__title">GitHub</div>
        <div class="left__text">https://github.com/sierramoore</div>
    </div>
</header>

<section class="education">
    <h1 class="title title--1">Education</h1>

    <div class="flex">
        <div class="exp-box">
            <h2 class="title title--2">General Assembly</h2>
            <h3 class="title title--3">[ Chicago, IL 2018 ]</h3>
            <p class="resume-text">600+ Hour Full Stack Web Development Program</p>
            <p class="resume-text">Front-end frameworks</p>
            <p class="resume-text">Building and using APIs</p>
            <p class="resume-text">Created 4 projects</p>
        </div>

        <div class="exp-box">
            <h2 class="title title--2">Per Scholas</h2>
            <h3 class="title title--3">[ NYC, NY 2017 ]</h3>
            <p class="resume-text">300+ Hour Software Testing Training Program</p>
            <p class="resume-text">Software development life cycles and methodologies</p>
            <p class="resume-text">Testing methodologies</p>
            <p class="resume-text">Programming fundamentals</p>
        </div>
    </div>

</section>

<section class="exp">
    <h1 class="title title--1">Experience</h1>

    <div class="flex">

        <div class="exp-box">
            <h2 class="title title--2">Front-end Web Developer at VestHQ</h2>
            <h3 class="title title--3">[ May 2018 - June 2019 ]</h3>
            <p class="resume-text">Developed responsive websites supporting multiple platforms and browsers</p>
            <p class="resume-text">Optimized page load</p>
            <p class="resume-text">Created custom styled UI components</p>
            <p class="resume-text">Collaborated with designer and CEO in an agile workflow</p>
            <p class="resume-text">Managed DNS and applied SEO best practices</p>
            <p class="resume-text">Organized a work process with designers ensuring consistency of assets</p>
        </div>

        <div class="exp-box">
            <h2 class="title title--2">Freelance Web Developer</h2>
            <h3 class="title title--3">[ March 2018 - Present ]</h3>
            <p class="resume-text"><b>Perfection Painting:</b> Designed and developed informational site from scratch</p>
            <p class="resume-text"><b>UST:</b> Recreated site originally made in Flash. Transferred domain registrar, hosting, and email platforms</p>
        </div>
    </div>
</section>

<div class="link-cont">
    <div class="link-cont">
        <div class="link-wrapper">
        <span class="inner-wrapper wrapper-16">
            <a download="Sierra_Moore_Resume" class="link hover-16 download" href="../assets/docs/sierra_moore_resume.pdf">Download Resume</a>
        </span>
        </div>
    </div>
</div>


</body>
</html>
